<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>

<body>
<div class="container">
    <h1>
        <%= heading %>
    </h1>

    <% if (edit) { %>
        <form id="editForm" method="post" action="/api/posts/<%= post.id %>">
            <label>
                <input type="text" name="title" value="<%= post.title %>">
            </label>
            <label>
                <textarea name="content" rows="10"><%= post.content %></textarea>
            </label>
            <label>
                <input type="text" name="author" value="<%= post.author %>">
            </label>
            <button class="full-width" type="submit">
                <%= submit %>
            </button>
        </form>
    <% } else { %>
        <form id="newPostForm" method="post" action="/api/posts">
            <label>
                <input type="text" name="title" placeholder="Title" required>
            </label>
            <label>
                <textarea name="content" placeholder="Content" required rows="10"></textarea>
            </label>
            <label>
                <input type="text" name="author" placeholder="Author" required>
            </label>
            <button class="full-width" type="submit">
                <%= submit %>
            </button>
        </form>
    <% } %>

</div>
</body>

</html>
